@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

// Utilities
@import "./utilities/colors.scss";
@import "./utilities/mixins.scss";

// Components
@import "./components/button.scss";
@import "./components/promotional-message.scss";

// Layouts
@import "./layouts/header.scss";
@import "./layouts/product.scss";
@import "./layouts/footer.scss";

//Custom scss
@import "./custom.scss";

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $color-offwhite;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  background-color: $color-offblack;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
