.footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 95%;
  margin-left: 5%;
  transform: translate(-2.5%,0%);
  display: flex;
  color: white;
  background: linear-gradient(90deg, #707070 0%, #474747 100%);
  text-transform: uppercase;
  font-weight: bold;
  color: darken(white, 20%);

  a {
    color: white;
  }
}
