.footer {
  justify-content:center;
  align-items:center;
  text-align: center;
  object-position: center;
  position: relative;
  display:flex;
  height: 100px;
  width: 100%;
  left:2.5%;
  margin-top: -5em;
  transform: translate(-2.5%,0%);
  color: white;
  background: linear-gradient(90deg, #707070 0%, #474747 100%);
  text-transform: uppercase;
  font-weight: bold;
  color: darken(white, 20%);
  font-size: 0.66em;
  a {
    color: white;
  }
}
