.header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5em;
  margin-bottom:2em;
  margin-top:2em;

  &__branding {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: $color-black;
    text-decoration: none;
  }

  &__logo {
    height: 5em;
  }

  &__title {
    justify-content: center;
    text-align: center;
    margin-right: 3em;
    margin-left: 0.5em;
    font-size: 24px;
  }

  &__cart {
    .snipcart-summary {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .snipcart-total-price {
      color: $color-offwhite;
      font-weight: bold;
      align-items: center;
      text-align: center;
    }
  }
}
