.promotional-message {
  margin-top: 0.5em;
  text-align:center;
  position:relative;
  display:inline-block;
  z-index: 1;

  h3 {
    font-size: 24px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    font-size: 100px;
    margin: 0;

    background: linear-gradient(90deg, #FFB890 0%, #F75D5D 100%);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
